@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

@import "tailwindcss";


@theme{
  --font-safa: "Sofia Sans", sans-serif ;
}
body{
  background: #131217;
}